<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <array>
        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>10</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
            <key>attack_speed</key>
            <real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>10</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>20</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict> 
            <key>hp</key>
            <integer>150</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>20</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>20</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>10</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>20</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>10</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>20</integer>
            <key>physical_defense</key>
            <integer>20</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>150</integer>
            <key>critical_rate</key>
            <integer>20</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>40</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>150</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>10</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>150</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>10</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>150</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>20</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>300</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>20</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>10</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>20</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>10</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>40</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>10</integer>
            <key>mana_attack</key>
            <integer>10</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>0</integer>
            <key>mana_attack</key>
            <integer>20</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

        <dict>
            <key>hp</key>
            <integer>0</integer>
            <key>critical_rate</key>
            <integer>0</integer>
            <key>physical_defense</key>
            <integer>0</integer>
            <key>magical_defense</key>
            <integer>0</integer>
            <key>physical_attack</key>
            <integer>20</integer>
            <key>mana_attack</key>
            <integer>0</integer>
            <key>initial_mana</key>
            <integer>0</integer>
			<key>attack_speed</key>
			<real>0.000</real>
			<key>critical_damage</key>
			<integer>0</integer>
        </dict>

   </array>
</plist>
